html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
}
header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
footer {
    background: burlywood;
    margin-top: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}
main {
    max-width: 800px;
    margin: auto;
}
.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
}
.book-cover {
    width: 200px;
    height: auto;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5
    ;
}
.book title {
    font-weight: bold;
    font-size: 150%;
    display: grid;

}
.book-rating {
    font-size: 125%;
    display: grid;
}
.book-authors {
    color: dimgray;
}